# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Кэш
.cache/
.vscode/
.idea/
.nuxt/cache/
.nuxt/cache/*
!/.nuxt/cache/.keep

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Системные файлы
.DS_Store
Thumbs.db
